:root {
    --primary-text-color: #212121;
    --primary-white-color: #FFF;
    --secundary-text-color: #757575;
    --actent-color: #2196F3;
    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin:0 ;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-nav-main {
    display: flex;
    align-items: center;

}

.header-nav-list{
    display: flex;
    margin-left: 93px;
    padding: 0;

}

.header-nav-list .header-nav-list-item:not(:last-child) {
    margin-right: 50px;
}


.header-contact-main {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-contact-main .header-contact-item:not(:last-child) {
    margin-right: 50px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-logo {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.nav-link {
    color: var(--primary-text-color);
    position: relative;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: block;
    padding: 32px 0;
    transition: color 250ms var(--animation-function);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--actent-color);
}

.nav-link.current{
    color: var(--actent-color);
}

.nav-link.current::after {
    content:"";
    position: absolute;
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header-contact-link {
    display: flex;
    align-items: center;
    color: var(--secundary-text-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms var(--animation-function);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--actent-color);
}

.header-icon{
    margin-right: 10px;
    fill: currentColor;
}

.banner{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    text-align: center;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner-background.jpg');
}


.banner-text {
    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 30px;
}

.banner-button {
    color: var(--primary-white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    transition: background-color 250ms var(--animation-function);
}

.banner-button:hover,
.banner-button:focus {
    background-color: #188CE8;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-bottom: 0;
}

.features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}

.features-list .features-item:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-text {
    color: var(--secundary-text-color);
    line-height: 24px;
    letter-spacing: 0.42px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
}

.work-list .work-item:not(:last-child) {
    margin-right: 30px;
}

.work-item {
    position: relative;
}

.work-thumb {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
}



.about-title {
    color: var(--primary-white-color);
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 27px;
}

.team-section {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-wrapper {
    padding: 30px 0;
}

.team-item {
    background-color: var(--primary-white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-list .team-item:not(:last-child) {
    margin-right: 30px;
}

.team-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.team-position {
    color: var(--secundary-text-color);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}

.team-social-network-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-social-network-item {
    width: 44px;
    height: 44px;
}
.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color:#AFB1B8;
}

.team-social-network-list .team-social-network-item:not(:last-child) {
    margin-right: 10px;
}

.link-icon {
    background-color: #FFF;
    color: #AFB1B8;
    transition:color 250ms var(--animation-function),
            background-color 250ms var(--animation-function);
}

.link-icon:hover,
.link-icon:focus {
    background-color: var(--actent-color);
    color: #FFF;
}

.team-icon {
    fill: currentColor;
}

.customers-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.customers-list{
    display: flex;
}
.customers-link{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition:color 250ms var(--animation-function),
    border-color 250ms var(--animation-function);
}

.customers-list .customers-item:not(:last-child) {
    margin-right: 30px;
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--actent-color);
    color: var(--actent-color);
}

.customers-icon {
    fill: currentColor;
}

.footer {
    padding: 60px 0;
    background-color: #2F303A;;
}

.footer-logo {
    color: var(--primary-white-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.contact-link-footer {
    color: rgba(255, 255, 255, 0.60);
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.28px;
    transition:color 250ms var(--animation-function);
}

.contact-link-footer:hover,
.contact-link-footer:focus {
    color: var(--actent-color);
}

.logo-pr {
    color: var(--actent-color);
}

.footer-address-main{
    margin-top: 20px;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
}

.footer-address-list .footer-address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--primary-white-color);
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0.42px;
    transition:color 250ms var(--animation-function);
}

.address-link:hover,
.address-link:focus {
    color: var(--actent-color);
}

.footer-address-wrapper {
    width: 231px;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.footer-social-container {
    margin-left: 70px;
}

.footer-social-title {
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-list{
    display: flex;
    justify-content: center;
}

.footer-social-list .footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-item {
    height: 44px;
    width: 44px;
}

.link-social {
    background-color:#FFFFFF1A;
    color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition:background-color 250ms var(--animation-function);
}

.link-social:hover,
.link-social:focus {
    background-color: var(--actent-color);
}

.icon-social {
    fill: currentColor;
}

.footer-form {
    margin-left: 93px;
}

.footer-subscribe-title {
    color: var(--primary-white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-form-label {
    display: flex;
    margin-top: 20px;
}

.footer-subscribe-input {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding-left: 16px;
    background: rgba(33, 150, 243, 0.00);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: #2196F3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: var(--primary-white-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin-left: 12px;
    cursor: pointer;
}

.icon-subscribe-button {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--primary-white-color);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
    padding: 6px 22px;
    transition:color 250ms var(--animation-function),
    background-color 250ms var(--animation-function),
    box-shadow 250ms var(--animation-function);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--actent-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.10);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-item {
    width: 370px;
    margin-bottom:30px;
    margin-right: 30px;
}

.project-link {
    display: block;
    transition:box-shadow 250ms var(--animation-function);
}

.project-link:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.project-img-box {
    position: relative;
    overflow:hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);
    color: var(--primary-white-color);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms var(--animation-function);
}

.project-link:hover .project-overlay {
    transform: translateY(0);
}

.projects-list .projects-item:nth-child(3n + 3) {
    margin-right: 0;
}

.project-name {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.project-wrapper {
    padding: 20px 24px;
    background-color: var(--primary-white-color);
    border: 1px solid #EEE;
    border-top: none;
}

.project-type {
    color: var(--secundary-text-color);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.48px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.20);
    transition: opacity 250ms var(--animation-function),
                visibility 250ms var(--animation-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    scale: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 581px;
    min-width: 528px;
    border-radius: 4px;
    padding: 40px;
    background-color: var(--primary-white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    transition: scale 250ms var(--animation-function);
}

.modal-close-button {
    fill: #000000;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms var(--animation-function);
}

.modal-close-button:hover,
.modal-close-button:focus {
    fill: var(--actent-color);
}

.modal-icon {
    width: 11px;
    height: 11px;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.form-label-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form-label-wrapper:not(:last-child) {
    margin-bottom: 10px;
}

.form-comment-label-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.form-user-privacy-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}

.modal-form-label {
    display: flex;
    margin-bottom: 4px;
    color: var(--secundary-text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.form-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding-left: 42px;
    outline: transparent;
    transition: border-color 250ms var(--animation-function);
}

.modal-input-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill 250ms var(--animation-function);
}

.form-textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    outline: transparent;
    transition: border-color 250ms var(--animation-function);
}

.form-input:focus {
   border-color: var(--actent-color);
}

.form-input:focus + .modal-input-icon {
    fill: var(--actent-color);
}

.form-textarea:focus {
    border-color: var(--actent-color);
}

.modal-submit-button {
    color: var(--primary-white-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--actent-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    transition: background-color 250ms var(--animation-function);
}
.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: #188CE8;
}

.user-privacy-link {
    color: var(--actent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.user-privacy-title {
    color: var(--secundary-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-user-privacy-checkbox {
    width: 16px;
    height: 15px;
}

.modal-check-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms var(--animation-function),
                border 250ms var(--animation-function),
                fill 250ms var(--animation-function);
}

.modal-check-input:focus + .user-privacy-title .modal-check-box {
    border: 1px solid var(--actent-color);;
}

.modal-check-input:checked + .user-privacy-title .modal-check-box {
    background-color: var(--actent-color);
    border: none;
    fill: var(--actent-color);
}
